@model DogGo.Models.ViewModels.WalkViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Walk</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="walk.Date" class="control-label"></label>
                <input asp-for="walk.Date" class="form-control" />
                <span asp-validation-for="walk.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="walk.Duration" class="control-label"></label>
                <input asp-for="walk.Duration" class="form-control" />
                <span asp-validation-for="walk.Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Dogs.Id">Select options:</label>
                <select multiple class="form-control" id="Dogs.Id">
                    @foreach (Dog dog in Model.dogs)
                    {
                        <option value="1">@dog.DogName</option>
                    }
                    
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
